.nav ul
{
    display: inline;
    align-items: center;
}
.para{
    text-align: center;
} 
.altimage{
    background-color: #20012E;
    width: 100%;
}
.altimage1{
    background-color: #20012E;
    width: 100%;
}
#headres{
width:100%
}